/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_cs.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &kp Q     &kp W  &kp F      &kp P      &kp B    &kp J  &kp L      &kp U     &kp Y      &kp P    &kp DELETE
&kp TAB    &kp A     &kp R  &kp S      &kp T      &kp G    &kp M  &kp N      &kp E     &kp I      &kp O    &kp BACKSPACE
&kp LCTRL  &kp LGUI  &kp Z  &kp X      &kp C      &kp V    &kp K  &kp H      &kp D     &kp COMMA  &kp DOT  &kp MINUS
                            &kp LSHFT  &kp SPACE  &mo 1    &mo 2  &kp ENTER  &kp RALT
            >;
        };

        num,sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     | studio unlock     |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N0  &kp N1  &kp N2  &kp N3  &kp ASTERISK    &kp GT     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH  &kp PERCENT  &trans
&trans  &mo 6   &kp N4  &kp N5  &kp N6  &kp PLUS        &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH      &kp TILDE    &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &kp MINUS       &kp LT     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE       &kp DOLLAR   &trans
                        &trans  &trans  &trans          &trans     &trans                &trans
            >;
        };

        nav,sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp CARET  &trans    &kp CS_EURO  &kp CS_CARON   &trans       &kp GRAVE          &kp HOME   &kp PG_DN      &kp PG_UP     &kp END          &trans
&trans  &kp AT     &kp AMPS  &kp LALT     &kp CS_ACUTE   &kp POUND    &kp DOUBLE_QUOTES  &kp LEFT   &kp DOWN       &kp UP        &kp RIGHT        &trans
&trans  &trans     &trans    &trans       &kp CS_DEGREE  &kp TILDE    &kp SINGLE_QUOTE   &kp COLON  &kp SEMICOLON  &kp QUESTION  &kp EXCLAMATION  &trans
                             &trans       &trans         &trans       &trans             &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        bt,fun,medisa {
            bindings = <
&trans  &trans  &trans  &trans          &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans          &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &studio_unlock  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans          &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
